.vision__img {
  grid-column: 1/2;
  /* height: 100%;
  width: 100%; */
  padding-left: 1rem;
}

@media screen and (max-width: 550px) {
  .vision__img {
    grid-column: 1/3;
    grid-row: 1/2;
    /* height: 100%;
    width: 100%; */
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .vision__img {
    grid-column: 1/3;
    grid-row: 1/2;
    /* height: 200px;
    width: 100%; */
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .vision__img {
    grid-column: 1/2;
    grid-row: 1/2;
    /* height: 250px;
    width: 100%; */
    padding: 1rem;
  }
}
